:root {
  --box-size: 18vh;
  --token-size: 14vh;
  font-family: 'Times New Roman', Times, serif
}
h1 {
  font-size: 80px;
  margin: 30px;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.game-body {
  display: flex;
  align-items: center;
}
.gameboard {
  display: grid;
  grid-template-columns: repeat(3, var(--box-size));
  gap: 1vh;
  background-color: black;
}
.cell {
  border: 1px solid black;
  background-color: white;
  /* background-color: rgb(255, 139, 103); */
  height: var(--box-size);

  font-family: 'Permanent Marker', cursive;
  text-align: center;
  line-height: var(--box-size);
  font-size: var(--token-size);
  border: 0px;
}
.cell:hover {
  background-color:rgb(255, 231, 223);
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 100px;
  padding: 0px;
  border: 1px solid rgb(255, 152, 121);
  min-height: 46vh;
}
.player-header {
  font-family: 'Permanent Marker', cursive;
  font-size: var(--box-size);
  margin: 0px 80px;
}
.player-name {
  font-size: 30px;
}

.resign {
  margin-top: 10px;
  font-family:'Times New Roman', Times, serif;
  font-size: 20px;
  width: 16vh;
  height: 4vh;
}